<div class="container mt-5">
  
  <div class="row">
    <div class="col">
      
      <% if current_user != @student %>
        <h1 class="display-6">
          Say hello to <%= @student.name %>!
        </h1>
        <p class="lead">
          View their enrollments or contact <%= @student.name %>
        </p>
      <% else %>
        <h1 class="display-6">
          Welcome, <%= @student.name %>!
        </h1>
        <p class="lead">
          View your profile & enrollments below
        </p>
      <% end %>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-3 mt-5">

      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Your details
        </div>
        <div class="card-body" id="student-card-body">
          <h5 class="card-title">Name: <%= @student.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Email: <%= @student.email %></h6>
          <% if current_user == @student %>
            <%= link_to "Update", edit_student_path(@student), class: "btn btn-warning btn-sm mt-2" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-3 mt-4">

    <% if current_user != @student %>
      <p class="lead">
        <%= @student.name %>'s enrollments:
      </p>
    <% else %>
      <p class="lead">
        Your enrollments:
      </p>
    <% end %>

    </div>
  </div>

  <% if @student.courses.empty? %>

  <div class="row mb-4">
    <div class="col-3 mt-4">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          No Courses
        </div>
      </div>

    </div>
  </div>

  <% else %>

  <div class="row mb-4">
    <% @student.courses.each do |course| %>
      <div class="col-3 mt-4">
          
        <div class="card shadow" style="width: 18rem;">
          <div class="card-header">
            <% course.categories.each do |category| %>
              <% if category.name == "Computer Science" %>
                <span class="badge rounded-pill bg-danger"><%= category.name %></span>
              <% elsif category.name == "Psychology" %>
                <span class="badge rounded-pill bg-warning"><%= category.name %></span>
              <% else %>
                <span class="badge rounded-pill bg-success"><%= category.name %></span>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= course.short_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= course.name %></h6>
            <p class="card-text"><%= course.description %></p>
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-secondary btn-sm">Info</a>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <% end %>

</div>