<div class="container mt-5">
  
  <div class="row">
    <div class="col">
      
      <h1 class="display-6">
      Courses
      </h1>
      <p class="lead">
      Browse through the courses available to you.
      </p>

    </div>
  </div>

  <div class="row mb-4">
    <% @courses.each do |course| %>
      <div class="col-3 mt-5">

        <div class="card shadow" style="width: 18rem;">
          <div class="card-header">
            <% course.categories.each do |category| %>
              <% if category.name == "Computer Science" %>
                <span class="badge rounded-pill bg-danger"><%= category.name %></span>
              <% elsif category.name == "Psychology" %>
                <span class="badge rounded-pill bg-warning"><%= category.name %></span>
              <% else %>
                <span class="badge rounded-pill bg-success"><%= category.name %></span>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= course.short_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= course.name %></h6>
            <p class="card-text"><%= course.description %></p>
          </div>
          <div class="card-footer">
            <% if logged_in? && !(current_user.courses.include?(course)) %>
              <a><%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post, class: "btn btn-success btn-sm" %></a>
            <% end %>
            <a class="btn btn-outline-secondary btn-sm">Info</a>
          </div>
        </div>

      </div>
    <% end %>
  </div>

</div>